.cart {
  position: fixed;
  background-color: white;
  border-style: solid;
  border-color: rgb(232, 232, 232);
  border-width: 2px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 580px) {
  .cart {
    width: 100%;
    bottom: 50px;
    right: 0px;
  }
}

@media (min-width: 580px) {
  .cart {
    bottom: 10px;
    right: 10px;
  }
}

.open {
  animation: open 0.2s ease-in-out forwards;
  pointer-events: all !important;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.close {
  animation: close 0.2s ease-in-out;
}

@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cart .cart_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.6em;
  padding-inline: 20px;
}

.cart .close_button {
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 10px;
  transition: 0.3s;
  margin-right: -4px;
}

.cart .close_button:hover {
  transform: scale(1.3);
}

.cart .cart_header img {
  height: 35%;
  cursor: pointer;
  transition: 0.3s;
}

.cart_goods {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  overflow-y: scroll;
  padding: 0.8em;
  margin-top: 5px;
  margin-bottom: 20px;
  gap: 1.5em;
}

.cart_goods > div {
  display: flex;
  padding-inline: 10px;
  align-items: center;
  height: auto;
  transition: 0.3s;
  position: relative;
  gap: 1em;
}

.cart_goods > div:hover .good_quantity {
  color: black;
}

.cart_goods > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 100%;
}

.cart_goods > div > div:nth-child(2) > p {
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 14px;
}

.cart_goods > div > div:nth-child(2) > span {
  font-size: 14px;
}

.cart .cart_goods > div > div > h4 {
  font-weight: 600;
}

.cart .cart_goods > div > img {
  height: 50px;
  align-self: center;
  justify-self: center;
  margin-right: 5px;
}

.good_quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 130px;
  height: 50%;
  gap: 0.5em;
}

.cart .cart_goods .good_quantity > span {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity_change {
  cursor: pointer;
  color: gray;
  transition: 0.3s;
  width: 28px;
  height: 28px;
  padding: 6px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f5;
}

.quantity_change.disabled {
  pointer-events: none;
}

.quantity_change:hover {
  color: black;
}
.quantity_change.disabled:hover {
  color: inherit;
}

.cart_good_info_with_price {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.good_price {
  position: absolute;
  left: 42px;
  bottom: 0px;
  background: white;
  border-radius: 10px;
  padding-inline: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.to_payment_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  padding-inline: 1em;
  padding-bottom: 1em;
}

.to_payment_div input {
  border-radius: 10px;
  padding: 0.8em;
  border: none;
  text-indent: 5px;
  background-color: rgb(249, 249, 249);
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.to_payment_div input::placeholder {
  text-transform: initial;
}

.to_payment_div input:focus {
  outline: none;
}

.to_payment_div button {
  background: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.to_payment_div button:hover {
  color: #fd6d22;
}

.to_payment_div span {
  margin-left: 10px;
  letter-spacing: 1px;
}

.to_payment_div span b {
  color: #fd6d22;
}

.backtrigger {
  background-color: rgba(0, 0, 0, 0.2);
}

.empty_cart {
  margin-top: 90px;
  position: absolute;
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.empty_cart_icon {
  width: 70px;
  height: 70px;
  color: gray;
}

.timeout_div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.ldsring {
  width: 80px;
  height: 80px;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: ldsring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fd6d22 transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ldsring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.promo_code_div {
  margin-top: -10px;
  margin-bottom: 5px;
  display: flex;
  gap: 1em;
  align-items: center;
}

.promo_code_div .close_button {
  width: 26px;
  height: 26px;
  padding: 0.3em;
  color: gray;
}

.promo_code_div .close_button:hover {
  color: black !important;
  transform: scale(1);
}

.promo_code_input_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.promo_code_input_div > button {
  position: absolute;
  right: 5px;
  padding-inline: 1.5em;
  font-weight: normal;
}

.promo_code_input_div > button:disabled {
  background: inherit !important;
  color: rgb(171, 171, 171);
  font-weight: normal !important;
}

.promo_code_input_div input:focus + button {
  font-weight: bold;
}

.error_span {
  color: red;
  text-transform: lowercase;
  margin-top: -10px;
  margin-left: 10px;
}
