.good_page {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  opacity: 0;
  pointer-events: none;
}

.backtrigger {
  background-color: rgba(0, 0, 0, 0.2);
}

.good_page > div:nth-child(2) {
  background-color: white;
  border-radius: 20px;
  width: min(90%, 800px);
  height: 300px;
  display: flex;
  gap: 1em;
  padding: 1em;
  position: relative;
  align-items: center;
}

@media (max-width: 880px) {
  .good_page > div:nth-child(2) {
    flex-direction: column;
    text-align: center;
    height: 570px;
  }
  .good_page > div:nth-child(2) > div {
    align-items: center;
  }
  .good_page img {
    width: 250px !important;
    height: 250px !important;
  }
  .configurations {
    align-self: center;
  }
  .configurations button {
    width: 90px !important;
    align-self: center;
  }
}

.good_page > div > img {
  align-self: center;
  height: 280px;
}

.good_page > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  position: relative;
  width: 100%;
}

.good_page h2 {
  font-size: 26px;
}

.good_page p {
  color: gray;
  max-width: 370px;
  margin-bottom: 10px;
}

.good_page .configurations {
  display: flex;
  gap: 0.2em;
  padding: 0.2em;
  border-radius: 10px;
  background-color: #f1f1f5;
  width: max-content;
  overflow: hidden;
}

.good_page .configurations button {
  width: 150px;
}

.active {
  background-color: white;
}

.good_page .configurations button:hover {
  background: white;
}

.add_to_cart {
  position: relative;
  width: max-content;
  font-size: 16px;
  font-weight: 700;
  background: none;
  border-style: none;
  padding: 0.5em;
  padding-inline: 1em;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 15px;
  margin-bottom: -10px;
}

.add_to_cart:hover {
  color: #fd6d22;
}

.add_to_cart:disabled {
  color: rgb(140, 140, 140);
  background: inherit;
}

.close_button {
  position: absolute;
  padding: 0;
  font-size: 28px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 1;
}

.disable_button {
  pointer-events: none;
  color: gray !important;
  background: inherit !important;
}

.open {
  animation: open 0.2s ease-in-out forwards;
  pointer-events: all;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.close {
  animation: close 0.2s ease-in-out;
}

@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
