.active_order_page {
  padding: 2em;
  margin-top: -2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.active_orders_list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.2em;
  background-color: #f1f1f5;
  width: max-content;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}

.active_orders_list > button {
  padding: 1em;
  padding-inline: 1em;
  border-style: none;
  border-radius: 10px;
  width: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.active_orders_list > button > span:nth-child(1) {
  grid-column: 2 span;
}

.active_orders_list > button:hover {
  background-color: white;
}

.active {
  background-color: white;
  color: #fd6d22;
  font-weight: 600;
}

.selected_order {

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ordered_goods {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1em;
}

.ordered_goods > div {
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 7%);
  transition: 0.5s;
  gap: 1em;
  padding: 16px;
  position: relative;
  border-radius: 10px;
}

.ordered_goods > div:hover {
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.3);
}

.ordered_goods > div > img {
  height: 100%;
}

.ordered_goods > div > h4 {
  position: absolute;
  right: 40px;
}


.ordered_good_price {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.1em 0.5em;
  border-radius: 10px 0px 0px 0px;
  background-color: #4e60ff;
  color: white;
}