.active_order_page {
  padding: 2em;
  margin-top: -2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.active_orders_list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 1px;
  background-color: #f1f1f5;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  max-width: 402px;
}

.active_orders_list > button {
  border-radius: 0;
  padding: 1em;
  padding-inline: 1em;
  border-style: none;
  gap: 2em;
  row-gap: 0.2em;
  display: flex;
  flex-wrap: wrap;
}

.active_orders_list > button > span:nth-child(1) {
  grid-column: 2 span;
}

.active_orders_list > button:hover {
  background-color: white;
}

.active {
  background-color: white;
  color: #fd6d22;
  font-weight: 600;
}

.selected_order {
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
  max-width: 700px;
}

.ordered_goods {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ordered_goods > div {
  display: flex;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  transition: 0.5s;
  gap: 1em;
  padding: 10px;
  position: relative;
  border-radius: 10px;
}

.ordered_goods > div:hover {
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.3);
}

.ordered_goods > div > img {
  height: 70px;
}

.ordered_good_price {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 0.2em 0.8em;
  border-radius: 10px 0px 0px 0px;
  color: black;
  font-weight: 600;
}

.quantity {
  font-weight: normal;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0.1em 0.4em;
  border-radius: 0px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background: #fd6d22;
  color: white
}

.total {
  margin-right: 10px;
  text-align: right;
  letter-spacing: 1px;
}

.total b {
  color: #fd6d22;
}

.statuses {
  display: flex;
  justify-content: center;
}

@media (max-width: 450px) {
  .statuses span {
    position: absolute;
    width: 100px;
    text-align: center;
    margin-top: 48px;
    opacity: 0;
    transition: 0.3s;
  }
  .status {
    width: 42px !important;
    height: 42px !important;
    padding: 0.5em !important;
  }
}

.statuses > div {
  width: 150px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.statuses span {
  font-size: 14px;
}

.status {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0.8em;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 12%);
  transition: 0.3s;
}

.status:hover + span {
  opacity: 1 !important;
}

.order_label {
  font-size: 20px;
  margin-left: 10px;
}

.delivery_address {
  margin-top: -20px;
  margin-left: 15px;
}

.time {
  margin-top: -10px;
  margin-bottom: -25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5px;
}

.error_span {
  color: red;
  text-transform: lowercase;
  margin-top: -10px;
  margin-left: 10px;
}
