.restaurants_page {
  padding-left: 3em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
}

@media (max-width: 580px) {
  .restaurants_page {
    align-items: center;
    padding: 1em !important;
  }
}

.restaurants > div {
  border: 1px solid rgb(231, 231, 231);
  padding: 0.8em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
