.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 2em;
  overflow-y: auto;
  flex-wrap: wrap;
}

.categories div {
  min-width: 100px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 13px;
  font-weight: bold;
  border-style: solid;
  transition: 0.3s;
  cursor: pointer;
}

.selected_category {
  background: #f3f4ff;
  border-color: #4e60ff;
  border-width: 2px;
  color: #4e60ff;
}

.unselected_category {
  border-width: 1px;
  border-color: rgb(231, 231, 231);
}

.categories div:hover {
  background: #f3f4ff;
  border-color: #4e60ff;
  border-width: 2px;
  color: #4e60ff;
}

.categories div img {
  height: 28px;
}
