.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.categories {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 95%;
  overflow-y: auto;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-bottom: -1em;
}

.categories div {
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  min-width: 90px;
}

.selected_category,
.categories div:hover {
  color: #fd6d22;
}
