.profile_div {
  display: flex;
  flex-direction: column;
  padding-inline: 3em;
  gap: 2em;
}

.bonus_points {
  display: flex;
  align-items: center;
}

.addresses_div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 300px;
}

.addresses_div h3 {
  margin-left: 1em;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1.5em;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 7%);
  position: relative;
}

.address span {
  width: 80%;
}

.address:hover {
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.3);
}

.close_button {
  font-size: 24px;
  cursor: pointer;
}

.orders_panel {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.orders_panel > span {
  font-size: 14px;
  margin-left: 20px;
}

.orders_panel > h3 {
  margin-left: 20px;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 420px;
}

.order {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 7%);
  border-radius: 20px;
  height: 50px;
  align-items: center;
  justify-items: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.order:nth-child(1) {
  cursor: initial;
}

.order:hover {
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 14%);
}

.column2 {
  grid-column: 2 span;
}
