.profile_div {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 1em;
  gap: 2em;
  transition: 0.3s;
}

@media (max-width: 580px) {
  .profile_div {
    padding: 1em;
    align-items: center;
  }
}

.bonus_points {
  display: flex;
  align-items: center;
}

.addresses_div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 300px;
}


.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1.5em;
  border-radius: 20px;
  transition: 0.3s;
  position: relative;
  border: 1px solid rgb(231, 231, 231);
}

.address span {
  width: 80%;
}

.address:hover {
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 7%);
}

.close_button {
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.close_button:hover {
  transform: scale(1.1);
}

.orders_panel {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.orders_panel > span {
  font-size: 14px;
  margin-left: 20px;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 420px;
}

.order {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 20px;
  padding: 0.5em;
  align-items: center;
  justify-items: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid rgb(231, 231, 231);
}

.order:nth-child(1) {
  cursor: initial;
  border: 1px none;
  box-shadow: none;
}

.order:hover {
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 7%);
}

.column2 {
  grid-column: 2 span;
}

.exit_button {
  background: none;
  font-weight: bold;
  transition: 0.3s;
}

.exit_button:hover {
  color: #4e60ff;
}