header {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  align-self: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5em;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
}

header a {
  color: inherit;
  text-decoration: none;
  background: none;
  border-style: none;
  padding: 0.5em;
  padding-inline: 1em;
  border-radius: 10px;
  transition: 0.3s;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1.5em;
}

header h2 {
  line-height: 22px;
  cursor: pointer;
}

header h2 span {
  color: #fd6d22;
}

header a {
  font-weight: bold;
  font-size: 14px;
}

header button {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border-style: none;
  background-color: white;
  position: relative;
  transition: 0.3s;
  border: 1px solid rgb(240, 240, 240);
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 7%);
}

header button:hover {
  transform: scale(1.1);
}

.search_div {
  position: relative;
  display: flex;
  align-items: center;
}

.search_div input {
  border-radius: 10px;
  padding: 0.7em;
  width: 220px;
  border-style: none;
  background: #edeef2;
  text-indent: 4px;
  outline-color: #4e60ff;
}

.search_icon {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-size: 18px;
  color: gray;
  transition: 0.3s;
}

.search_div input:focus + .search_icon {
  transform: scale(1.1);
  color: #4e60ff;
}

.mobile_header {
  position: fixed;
  height: 58px;
  width: 100%;
  bottom: 0px;
  display: flex;
  background: rgba(255, 255, 255, 1);
  opacity: 0;
  justify-content: center;
  align-items:flex-end;
  padding-bottom: 5px;
  z-index: 5;
  transition: 0.3s;
  gap: 2em;
  pointer-events: none;
}

.mobile_header button {
  background: none;
  height: 50px;
  position: relative;
  transition: 0.3s;
}

.mobile_header button:hover {
  color: #4e60ff;
  transform: scale(1.05);
  background: white;
}

.bonus_points {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background: #fd6d22;
  border-radius: 8px;
  font-size: 11px;
  width: 50px;
  height: 14px;
  bottom: -2px;
  text-align: center;
}

.logo {
  display: flex;
  padding: 5px;
  padding-inline: 10px;
  width: 75px;
  box-shadow: none;
  border-style: none;
  text-align: left;
}

.logo:hover {
  transform: scale(1);
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 7%);
}

.logo:hover h2 {
  color: #fd6d22;
}

.logo:hover span {
  color: black;
}
.logo img {
  width: 100%;
}

.logo h2 {
  transition: 0.3s;
}

.logo span {
  transition: 0.3s;
}

@media (max-width: 580px) {
  header {
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  header a {
    font-size: 13px;
  }
  header {
    gap: 0em;
  }
  header div {
    gap: 1em;
  }
  .to_hide {
    display: none;
  }
  .mobile_header {
    opacity: 1;
    pointer-events: all;
  }
}

.cart_span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background: #fd6d22;
  border-radius: 6px;
  font-size: 11px;
  width: 15px;
  height: 15px;
  right: -2px;
  top: 1px;
}

.orders_button {
  color: #fd6d22;
  font-size: 26px;
}

.orders_button:hover {
  color: #fd6d22 !important;
}

.active_order_link {
  color: #fd6d22;
  border-radius: 0px;
  border-width: 2px;
  border-bottom-style: solid;
}

.user_button {
  position: relative;
}

.cart_image,
.user_image {
  font-size: 26px;
}

.cart_span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background: #fd6d22;
  border-radius: 8px;
  font-size: 11px;
  width: 20px;
  height: 20px;
  right: -5px;
  top: -5px;
}

.bonus_points {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background: #fd6d22;
  border-radius: 8px;
  font-size: 11px;
  width: 50px;
  height: 14px;
  top: 40px;
  text-align: center;
}