@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");
@import "leaflet/dist/leaflet.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

button {
  padding: 0.5em;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: initial;
  color: initial;
}

a:hover {
  color: #fd6d22;
}

.leaflet-marker-icon {
  width: 40px !important;
  height: 40px !important;
  left: -7px;
  top: -7px;
}

.leaflet-control-container,
.leaflet-shadow-pane {
  display: none;
}

.backtrigger {
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  border-radius: 0 !important;
}

@viewport {
  orientation: portrait;
}
